.file-list {
  margin-left: 10px;
  margin-right: 10px;
}

.fileRow {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#readingsHeader {
  margin-left: 40px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 95%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.card:hover {
  filter: brightness(85%);
}

.card a {
  text-decoration: none;
  color: #333;
}

.fileTitle {
  font-size: 16px;
}

.trash {
  width: 20px;
  height: 20px;
}

.trash:hover {
  width: 22px;
  height: 22px;
  cursor: pointer;
}