.file-list {
  margin-left: 10px;
  margin-right: 10px;
}

#readingsHeader {
  margin-left: 40px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
}

.card:hover {
  filter: brightness(85%);
}

.card a {
  text-decoration: none;
  color: #333;
}

.fileTitle {
  font-size: 16px;
}