// Adapted from https://codepen.io/codemzy/pen/YzELgbb

@use '../../utils/colors' as c;

// body {
//   margin: 0px;
//   font-family: 'Oswald', sans-serif;
// }

// .page {
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

#fileUploadContainer {
  margin: 40px;
  margin-bottom: 20px;
}

#form-file-upload {
  // height: 16rem;
  // width: 28rem;
  height: 250px;
  width: 800px;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  // background-color: #f8fafc;
  background-color: #DFFBFF;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

#selectedFileContainer {
  margin: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#selectedFileDiv {
  font-size: 15px;
}

#selectedFile {
  font-weight: 600;
}

#uploadButtons {
  display: flex;
  justify-content: right;
  background-color: red;
}

.select-file-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

#fileUploadButton {
  background-color: c.$aiOrange;
  border: none;
  height: 40px;
  width: 90px;
  border-radius: 10px;
  font-size: 16px;
  margin: 20px;
  margin-left: 0px;
}

#fileUploadButton:hover {
  cursor: pointer;
  filter: brightness(85%);
}


#cancelButton {
  background-color: silver;
  border: none;
  height: 40px;
  width: 90px;
  border-radius: 10px;
  font-size: 16px;
  margin: 20px;
}

#cancelButton:hover{
  cursor: pointer;
  filter: brightness(85%);
}


.select-file-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}