.file-list {
  margin-left: 50px;
  margin-right: 50px;
  min-width: 600px;

  ul {
    padding: 0;
  }
}

.fileRow {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#headerRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;

  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
}

#readingsHeader {
  font-weight: 700;
  font-size: 34px;
  margin: 0;
}

.cardy {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  height: 50px;
  width: 100%;
  background-color: white;
  justify-content: space-between;
}

#readingSwatch {
  width: 30px;
  height: 50px;
}

.cardy:hover {
  filter: brightness(85%);
}

.cardy a {
  text-decoration: none;
  color: #333;
}

.fileTitle {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.trash {
  width: 20px;
  height: 20px;
}

.trash:hover {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.alert {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  background-color: white !important;
  border: solid;
  border-width: 2.5px !important;
  border-color: grey !important;
  border-radius: 10px !important;
  padding: 20px;
  width: 400px;
  text-align: center;
}


.alert-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.confirm-delete-buttons {
  display: flex;
  justify-content: center;
}


.alert-delete-btn {
  /* background-color: #f44336; */
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px; 
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
  width: 90px !important;
  background-color: #95cbfe !important;
}

.alert-delete-btn:hover {
  background-color: #6cb4f8 !important;
}

.alert-btn-no {
  background-color: #d3d3d3 !important;
  border: none;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px; 
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
  width: 90px !important;
}

.alert-btn-no:hover {
  background-color: #959595 !important;
}