@use '../../utils/colors' as c;

.container {
	background-color: white;
	width: 95%;
	height: 440px;
	margin-left: auto;
	margin-right: auto;
	padding: 32px;
	border-radius: 5px;
	border-style: solid;
	margin-top: 24px;
	margin-bottom: 12px;
	display: flex;
	flex-direction: column;
	box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2);
  border: 1px solid silver;
}

.inputWrapper {
	display: flex;
}

.responseText {
	margin-top: 16px;
	margin-bottom: 0;
	height: 300px;
  overflow-y: auto;
	background-color: rgb(233, 231, 231);
	padding: 8px;
	border-radius: 5px;
}

.headerText {
	margin-top: 0;
	margin-bottom: 16px;
}