@use '../../utils/colors' as c;

.userNoteInput::placeholder {
  font-style: italic;
}

#container {
  margin: 50px;
}

.container {
  background-color: c.$aiComponentBlue;
}

// .enterButton {
//   background-color: #D53F8C;
//   color: white;
//   font-weight: 700;
//   padding: 6px;
//   border-radius: 0 5px 5px 0;
// }

#pdfDisplay {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.userNoteContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0px;
}

#chatIcon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  z-index: 9999;
  transition: opacity 0.3s ease;
  border-radius: 16px;
  background-color: c.$aiOrange;
  padding: 8px;
}

#chatIcon:hover {
  cursor: pointer;
  width: 65px;
  height: 65px;
}

#closeIcon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  z-index: 9999;
  transition: opacity 0.3s ease;
  border-radius: 3px;
}

#closeIcon:hover {
  cursor: pointer;
  width: 65px;
  height: 65px;
}

#chatDiv {
  position: fixed;
  bottom: 130px;
  right: 30px;
  z-index: 9999;
}