.uploadButton {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #6E00FF;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 20px;
}
