@use '../../utils/colors' as c;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-size: 100% 100%;
  gap: 20px;
  background-repeat: no-repeat;

  .titleImgRow {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    padding-left: 100px;

    .introTextContainer {
      display: flex;
      flex-direction: column;
      flex: 1;

      .introContentContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: c.$aiComponentBlue;
        padding: 15px;
        border-radius: 20px;

        p {
          margin: 0;
        }
      }
    }

    img {
      flex: 2;
      min-width: 1000px;
    }
  }

  h1 {
    margin: 0;
    font-size: 96px;
    font-weight: 700;

    .ai {
      color: c.$aiPink;
    }
  }

  .faIcon {
    font-size: 96px;
  }
}