// $aiLightBlue: #4CE5ED;
$aiLightBlue: #171425;
$aiOrange: #F5B025;
// $aiNavy: #1F1C4B;
$aiNavy: #120f1c;
// $aiPink: #DD0F8D;
$aiPink: #ad7eff;
$aiDarkPurple: #120f1c;
// $aiComponentBlue: #C3F8FF;
$aiComponentBlue: #fafafa;
// $aiDragDropBlue: #DFFBFF;
$aiDragDropBlue: #e6e6e6;