#note-container {
  display: flex;
  border: 2px solid grey;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

#note-input-box {
  flex: 1;
  margin: 10px;
}

#note-input-box textarea {

  width: 100%;
  min-height: 50px;
  font-size: 14px;
  resize: none;

  border: none;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#note-input-box textarea:focus {
  border: none;
}

#save-button {
  background-color: rgb(87, 90, 255);
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}

#save-button:hover {
  background-color: rgb(66, 69, 255);
}

// #markdown-button-on {
//   background-color: rgb(111, 111, 111);
//   display: block;
//   padding: 5px;
//   cursor: pointer;
//   border-radius: 5px;
//   margin-top: 10px;
// }


#markdown-icon {
  width: 20px;
  height: 20px;
}

.markdown-button {
  background-color: rgb(240, 240, 240);
  display: block;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
} 

.button-on {
  background-color: rgb(126, 126, 126);
}


#note-header {
  background-color: silver;
  padding: 10px;
  width: 125px;
}

.notes-title {
  font-size: large;
  font-weight: 800;
}
