@use '../../utils/colors' as c;

#container{
  margin: 50px;
}

.container {
	background-color: c.$aiComponentBlue;
}

#pdfDisplay {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}