@use '../../utils/colors' as c;

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 40px;
  color: white;
  font-size: 56px;
  background-color: c.$aiNavy;
//   border-radius: 0 0 10px 10px;

  a {
    text-decoration: none;
    color: inherit;
  }

  .aiReadText {
    color: c.$aiPink;
  }
}